.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  #Home {

    form { 
      margin-top: 3rem;
      height: 4rem;
      width: 20rem;
      position: relative;

      fieldset {
        position: relative;
        margin: 0;
        background-color: white;
        border: none;
        border-radius: 999rem 0 0 999rem;
        padding: 1.5rem 0 1.5rem 1.5rem;

        legend {
          position: absolute; 
          font-size: .75rem;
          margin-top: -1.5rem;
          display: none;
        }

        legend.visible {
          display: block;
        }

        input {
          all: unset;
        }

        input:focus::placeholder {
          color: white;
        }

      }

      button {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.5rem;
        width: 6rem;
        background: #9c27b0;
        margin-left: 20rem;
        border-radius: 0 999rem 999rem 0; 
        border: none;
        color: white;
        cursor: pointer;
      }
    }
    
    #backgroundContainer {
      background-image: url(https://images.pexels.com/photos/106401/pexels-photo-106401.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1);
      background-size: 100vw auto;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      background-color: aliceblue;

      height: 20rem;
      width: 100%;
      position: absolute;
      z-index: -1;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

    .home-message {
      margin-top: 15rem;
    }

    .carousel-container { 
      height: fit-content;
      margin-top: 2rem;
      width: 70%; 

      div {
        padding: 0 1rem;
      }
      
      img {
        width: 100%;
        height: auto;
      }

      .react-multiple-carousel__arrow {
        background: rgba(186, 104, 200, 0.5);
      }

      .react-multiple-carousel__arrow:hover {
        background: rgba(186, 104, 200, 0.9);
      }
    }
    
    .carousel-title {
      align-self: flex-start;
      margin-top: 5rem;
      margin-left: 20rem;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
