.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  #Home {
    
    #backgroundContainer {
      background-image: url(https://images.pexels.com/photos/106401/pexels-photo-106401.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1);
      background-size: 100vw auto;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      background-color: aliceblue;

      height: 20rem;
      width: 100%;
      position: absolute;
      z-index: -1;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

    .react-multi-carousel-list {
      margin-top: 20rem;
      height: 10rem;
      width: 15rem;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
