.header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;

    ul {
      list-style-type: none;
      display: flex;
      column-gap: 1rem;
      padding: 0;
    }

    .navbar-brand, .nav-link {
      text-decoration: none;
      color: #9c27b0;
    }
    .navbar-brand:hover, .nav-link:hover {
      background-color: #ba68c8; 
      color: white;
    }
  }
  position: sticky;
  top: 0;
}
